.Title {
    padding-left: 50px;
    font-family: FredokaOne;
    font-size: 30px;
}

.Component {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Bookstores {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Card {
    height: 400px;
    width: 300px;
    position: relative;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    font-family: FredokaOne;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 50px;
}

.Card-header {
    width: 100%;
    height: 15%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.76);
    color: #ffffe6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.Card-body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.Card-image {
    width: 150%;
    height: 100%;
}

.Plus-button {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #474747;
    transition: 0.2s;
    cursor: pointer;
    font-family: FredokaOne;
}

.Plus-button p {
    font-size: 20px;
}

.Plus-button:hover {
    font-size: 120px;
}